<div class="wrapper">
    <div class="main-container">
    <div class="container">
<h1>Request a Quote</h1>
<div class="row">
<div class="form-group column">
  <label for="">Quotation Request Number:</label>
  <input class="form-control" style="width: 300px" readonly>
  <label >Date:</label>
  <input class="form-control" style="width: 300px"  placeholder="09-10-2020" readonly>


  <label for="ProdCode">Enter Product Code: </label>
  <input class="form-control" type="text" id="ProdCode" name="Pcode" style="width: 300px" #productCode>






  <div class="form-group">
    <label for="sel1">Select website visited:</label>
    <select class="form-control" id="sel1" #website>
      <option>--Select--</option>
      <option>BCGShop</option>
      <option>Proactive</option>
      <option>GiftsSA</option>
      <option>Rolando</option>
      <option>Promo</option>
    </select>
  </div>


  <br>
    <div class="form-group" style="text-align: center;" style="width: 110%;">
      <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select a Design
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
          <a  *ngFor="let item of types" class="dropdown-item" (click)="store(item.Product_Type_ID, item.Name)" >{{item.Name}}</a>
        </div>
      </div>
   </div>

   <div *ngIf="designline != null">
    <label>Design Name:</label>
    <table class="table">
      <thead class="thead-dark">
        <tr>
           <th>Design Name</th>
           
           <th>Action</th>
         </tr>
      </thead>
         <tr *ngFor="let item of designline">
           <td>{{item.Design_Name}}</td>
          
           <td><button class="btn btn-primary" (click)="storeDesign(item.Design_ID)"> Select Design</button></td>
         </tr>
        </table>
        <button class="btn btn-success" (click)="navigate()"> Create New Design</button>
       
   </div>
 
</div>

<form>
 
<div class="column ml-4" >

  <label for="ProdColor">Enter desired product colour:</label>
  <input class="form-control" type="text" id="ProdColor" name="Pcolor" style="width: 300px" #color>


    <!-- <label for="ProdCode">Enter Product Code: </label>
    <input class="form-control" type="text" id="ProdCode" name="Pcode" style="width: 300px"> -->

    <label for="quantity">Enter Desired Quantity:</label>
    <input class="form-control" type="number" id="quantity" name="quantity" min="1" max="100" style="width: 300px" #quantity> <br>

<div class="form-group column">
  <!-- <div class="form-group">
    <label for="sel1">Select website visited:</label>
    <select class="form-control" id="sel1">
      <option>--Select--</option>
      <option>BCGShop</option>
      <option>Proactive</option>
      <option>GiftsSA</option>
      <option>Rolando</option>
      <option>Promo</option>
    </select>
  </div> -->
  <div class="form-group">
    <label for="sel1">Select desired size:</label>
    <select class="form-control" id="sel1">
      <option>Standard</option>
      <option>XS</option>
      <option>S</option>
      <option>M</option>
      <option>L</option>
      <option>XL</option>
    </select>
  </div>
</div>

</div>


</form>

<div>

    <br><br>
  </div>
  <div class="column">
    
    <div class="row " >
      
      <div class="column" style="margin-top: 20px; margin-left: 40px;">
    
              <div  *ngFor="let item of designs">
                  <img src="{{item.ImageString}}">
           
          </div>
      </div>

      <div class="column ml-5" *ngFor="let line of lines"><br>
        Position: {{line.Position}} <br>
        Job Type: {{line.JobType}} <br>
        Text: {{line.Text}} <br>
        Width: {{line.Width}}cm <br>
        Height: {{line.Height}}cm <br><br><br>
      </div>

</div>

  </div>
  <!-- <div class="column" >
    <img src="../../assets/Images/template.png" alt="TshirtTemplate" style="float:left;width:300px;height:250px;">
    <div class="center">
    </div>
        </div> -->
    <!-- Button trigger modal -->
     </div>

     <button style="float: right;" type="submit" class="btn-sm btn-success btn-block" (click)="addToRequest(color.value, website.value, productCode.value, quantity.value)">Add to request</button><br><br>
     <table class="table " style="margin-top: 15px;">
      <thead class="thead-dark">
      <tr>
      <th>Size</th>
      <th>Colour</th>
      <th>Website</th>
      <th>Product Code</th>
      <th>Quantity</th>
      <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let req of request ; let i = index">

      <td>Size</td>
      <td>{{req.Color}}</td>
      <td>Website</td>
      <td>{{req.ProductCode}}</td>
      <td>{{req.Quantity}}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(i)">Delete</button>
      </td>
      </tr>
      <tr>
      </tr>
      </tbody>

      </table>
</div>

       <br><br><br>
       <div class="row flex" > <button type="submit" class="btn-sm btn-primary btn-block col-4" >Request Quotation</button>
       </div>
    </div>
</div>
